<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">person_add</mat-icon>
            Cadastrar Aluno
        </ng-template>
        <user-cmp></user-cmp>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">people</mat-icon>
            Listar Alunos
        </ng-template>
        <app-list-aluno></app-list-aluno>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">how_to_reg</mat-icon>
            Detalhe Aluno
        </ng-template>
        <app-detalhe-aluno></app-detalhe-aluno>
    </mat-tab>
</mat-tab-group>