<div class="col-md-12">
  <div class="card card-user">
    <div class="card-header">
      <h5 class="card-title">Cadastrar Aluno</h5>
    </div>
    <div class="card-body">
      <div class="grid-container">
        <div class="container-input">
          <div class="divTitForm">
            <p class="subTitForm"> DADOS BASICOS </p>
          </div>
          <div class="row">
            <div class="col-md-2">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Código Aluno</mat-label>
                <input matInput type="text" [(ngModel)]="codAluno" readonly>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Status Aluno</mat-label>
                <input matInput type="text" [(ngModel)]="statusAluno" value="Ativo" readonly>
              </mat-form-field>
            </div>
            <div class="col-md-8">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Nome Completo</mat-label>
                <input matInput type="text" [(ngModel)]="nomeCompleto" placeholder="Ex: Fulano de Tal"
                  required='required' maxlength="60">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Data Nasciento</mat-label>
                <input matInput type="text" [(ngModel)]="dataNascimento" placeholder="Ex: 00/00/0000"
                  required='required' mask="XX/X0/0000">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>CEP - somente números</mat-label>
                <input matInput type="text" [(ngModel)]="cep" placeholder="CEP - somente números" required='required'
                  pattern="[0-9]+">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Telefone( somente números)</mat-label>
                <input matInput type="tel" [(ngModel)]="telefone" placeholder="Telefone" required='required'
                  mask="(00) 00000-0000">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>E-mail</mat-label>
                <input matInput type="email" [(ngModel)]="email" placeholder="fulano@email.com" required='required'
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Valor Mensalidade (Ex: 120,00)</mat-label>
                <input matInput type="text" [(ngModel)]="valorMensalidade" mask="separator.2" thousandSeparator=".">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>CPF</mat-label>
                <input matInput type="text" [(ngModel)]="cpf" placeholder="CPF" [cpf]="cpf" #cpfInput="ngModel"
                  required='required' mask="000.000.000-00">
                <div *ngIf="cpfInput?.errors?.cpf">CPF inválido</div>
                <div *ngIf="cpfInput?.errors?.required">CPF Obrigatório</div>
              </mat-form-field>
            </div>
            <div class="col-md-4 px-1">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Tipo Pagamento</mat-label>
                <select matNativeControl required [(ngModel)]="tipoPagamento" required='required'>
                  <option label=""></option>
                  <option value="boleto">Boleto</option>
                  <option value="debito">Débito</option>
                  <option value="transf">Transferência</option>
                  <option value="outro">Outro</option>
                </select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="container-input" class="button-row">
          <button mat-raised-button color="warn" type="button" (click)="CreateRecord()"
            class="btn btn-primary">Cadastrar </button>
        </div>
      </div>
    </div>
    <ng2-toasty></ng2-toasty>
  </div>