.subTitForm{
    background-color: #34b5b8;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

.divTitForm{
    background-color: #34b5b8;
    color: white;
    text-emphasis-style: dot;
}