<div class="col-md-12">
  <div class="card card-user">
    <div class="card-header">
      <h5 class="card-title">Cadastrar Aluno</h5>
    </div>
    <div class="card-body">
      <div class="grid-container">
        <div class="container-input">
          <div class="divTitForm">
            <p class="subTitForm"> DADOS BASICOS </p>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Nome Completo</mat-label>
                <input matInput type="text" [(ngModel)]="nomeCompleto" placeholder="Ex: Fulano de Tal">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Data Nasciento</mat-label>
                <input matInput type="text" [(ngModel)]="dataNascimento" placeholder="Ex: 00/00/0000">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Ano Letivo</mat-label>
                <input matInput type="text" [(ngModel)]="anoLetivo" placeholder="Ex: 2020">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Escola Anterior</mat-label>
                <input matInput type="text" [(ngModel)]="escolaAnterior" placeholder="Escola Anterior">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Endereço</mat-label>
                <input matInput type="text" [(ngModel)]="endereco" placeholder="Enredeço">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Bairro</mat-label>
                <input matInput type="text" [(ngModel)]="bairro" placeholder="Bairro">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Cidade</mat-label>
                <input matInput type="text" [(ngModel)]="cidade" placeholder="Cidade">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Estado</mat-label>
                <input matInput type="text" [(ngModel)]="estado" placeholder="Estado">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>CEP</mat-label>
                <input matInput type="text" [(ngModel)]="cep" placeholder="CEP">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Telefone</mat-label>
                <input matInput type="text" [(ngModel)]="telefone" placeholder="Telefone">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>E-mail</mat-label>
                <input matInput type="text" [(ngModel)]="email" placeholder="E-mail">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Valor Mensalidade</mat-label>
                <input matInput type="text" [(ngModel)]="valorMensalidade" placeholder="Valor Mensalidade">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Como Soube do Curso</mat-label>
                <input matInput type="text" [(ngModel)]="comoConheceu" placeholder="Como Soube do Curso">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>RG</mat-label>
                <input matInput type="text" [(ngModel)]="rg" placeholder="RG">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>CPF</mat-label>
                <input matInput type="text" [(ngModel)]="cpf" placeholder="CPF">
              </mat-form-field>
            </div>
          </div>

          <div class="divTitForm">
            <p class="subTitForm"> DADOS DO RESPONSÁVEL </p>
          </div>


          <div class="row">
            <div class="col-md-4 pr-1">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Nome do Pai</mat-label>
                <input matInput type="text" [(ngModel)]="nomePai" placeholder="Nome do pai">
              </mat-form-field>
            </div>
            <div class="col-md-4 px-1">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Telefone</mat-label>
                <input matInput type="text" [(ngModel)]="telefonePai" placeholder="Telefone">
              </mat-form-field>
            </div>
            <div class="col-md-4 pl-1">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>E-mail</mat-label>
                <input matInput type="text" [(ngModel)]="emailPai" placeholder="E-mail">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 pr-1">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Nome da Mãe</mat-label>
                <input matInput type="text" [(ngModel)]="nomeMae" placeholder="Nome da Mãe">
              </mat-form-field>
            </div>
            <div class="col-md-4 px-1">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Telefone</mat-label>
                <input matInput type="text" [(ngModel)]="telefoneMae" placeholder="Telefone">
              </mat-form-field>
            </div>
            <div class="col-md-4 pl-1">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>E-mail</mat-label>
                <input matInput type="text" [(ngModel)]="emailMae" placeholder="E-mail">
              </mat-form-field>
            </div>
          </div>


          <div class="divTitForm">
            <p class="subTitForm"> ESTÁGIOS </p>
          </div>

          <div class="row">
            <div class="col-md-6 pr-1">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Módulo 1 iniciado em</mat-label>
                <input matInput type="text" [(ngModel)]="modulo1Inicio">
              </mat-form-field>
            </div>
            <div class="col-md-6 pl-1">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Finalizado em</mat-label>
                <input matInput type="text" [(ngModel)]="modulo1Fim">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 pr-1">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Módulo 2 iniciado em</mat-label>
                <input matInput type="text" [(ngModel)]="modulo2Inicio">
              </mat-form-field>
            </div>
            <div class="col-md-6 pl-1">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Finalizado em</mat-label>
                <input matInput type="text" [(ngModel)]="modulo2Fim">
              </mat-form-field>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6 pr-1">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Módulo 3 iniciado em</mat-label>
                <input matInput type="text" [(ngModel)]="modulo3Inicio">
              </mat-form-field>
            </div>
            <div class="col-md-6 pl-1">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Finalizado em</mat-label>
                <input matInput type="text" [(ngModel)]="modulo3Fim">
              </mat-form-field>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6 pr-1">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Módulo 4 iniciado em</mat-label>
                <input matInput type="text" [(ngModel)]="modulo4Inicio">
              </mat-form-field>
            </div>
            <div class="col-md-6 pl-1">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Finalizado em</mat-label>
                <input matInput type="text" [(ngModel)]="modulo4Fim">
              </mat-form-field>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6 pr-1">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Módulo Math</mat-label>
                <input matInput type="text" [(ngModel)]="moduloMathInicio">
              </mat-form-field>
            </div>
            <div class="col-md-6 pl-1">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Finalizado em</mat-label>
                <input matInput type="text" [(ngModel)]="moduloMathFim">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 pr-1">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Módulo Geograph</mat-label>
                <input matInput type="text" [(ngModel)]="moduloGeographInicio">
              </mat-form-field>
            </div>
            <div class="col-md-6 pl-1">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Finalizado em</mat-label>
                <input matInput type="text" [(ngModel)]="moduloGeographFim">
              </mat-form-field>
            </div>
          </div>

          <div class="divTitForm">
            <p class="subTitForm"> DADOS COMPLEMENTARES </p>
          </div>

          <div class="row">
            <div class="col-md-4 pr-1">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Dia de Aula</mat-label>
                <input matInput type="text" [(ngModel)]="diaAula" placeholder="Ex: Segunda">
              </mat-form-field>
            </div>

            <div class="col-md-4 px-1">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Tipo Pagamento</mat-label>
                <select matNativeControl required  [(ngModel)]="tipoPagamento">
                  <option label=""></option>
                  <option value="carne">Carnê</option>
                  <option value="debito">Débito</option>
                  <option value="transf">Transferência</option>
                  <option value="outro">Outro</option>
                </select>
              </mat-form-field>
            </div>

            <div class="col-md-4 pl-1">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Horário de Aula</mat-label>
                <input matInput type="text" [(ngModel)]="horaAula" placeholder="Ex: 8:00">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 pr-1">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Nome do Grupo</mat-label>
                <input matInput type="text" [(ngModel)]="nomeGrupo">
              </mat-form-field>
            </div>
            <div class="col-md-4 px-1">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Quantidade de Sulfite</mat-label>
                <input matInput type="text" [(ngModel)]="qtSulfite">
              </mat-form-field>
            </div>
            <div class="col-md-4 pl-1">
              <mat-form-field appearance="outline" class="padding-form-total">
                <mat-label>Data de Pagamento</mat-label>
                <input matInput type="text" [(ngModel)]="horaAula" placeholder="Ex: 20">
              </mat-form-field>
            </div>
          </div>

          <div class="container-input" class="button-row">
            <button mat-raised-button color="warn" type="button" (click)="CreateRecord()"
              class="btn btn-primary">Cadastrar </button>
          </div>

        </div>
      </div>
    </div>
  </div>